# TASK2

In [31]:
import  numpy as np
import pandas as pd
import warnings

In [32]:
#importing dataset
data2 =pd.read_csv(r"E:\PG SECOND SEM\ML\loan.csv")

In [33]:
data2.shape

(10000, 14)

In [34]:
data2.head()

,customer_id,disbursed_amount,interest,market,employment,time_employed,householder,income,date_issued,target,loan_purpose,number_open_accounts,date_last_payment,number_credit_lines_12
0,0,23201.5,15.4840,C,Teacher,<=5 years,RENT,84600.0,2013-06-11,0,Debt consolidation,4.0,2016-01-14,NaN
1,1,7425.0,11.2032,B,Accountant,<=5 years,OWNER,102000.0,2014-05-08,0,Car purchase,13.0,2016-01-25,NaN
2,2,11150.0,8.5100,A,Statistician,<=5 years,RENT,69840.0,2013-10-26,0,Debt consolidation,8.0,2014-09-26,NaN
3,3,7600.0,5.8656,A,Other,<=5 years,RENT,100386.0,2015-08-20,0,Debt consolidation,20.0,2016-01-26,NaN
4,4,31960.0,18.7392,E,Bus driver,>5 years,RENT,95040.0,2014-07-22,0,Debt consolidation,14.0,2016-01-11,NaN

In [35]:
#Mean of two continuous variables
print("continuous variables")
continuous_value=[c for c in data2.columns if data2[c].dtype!='O']
print(continuous_value)
print('Mean of Disbursed amount')
print(data2['disbursed_amount'].mean())
print('Mean of Interest amount')
print(data2['interest'].mean())

continuous variables
['customer_id', 'disbursed_amount', 'interest', 'income', 'target', 'number_open_accounts', 'number_credit_lines_12']
Mean of Disbursed amount
14132.2755
Mean of Interest amount
12.678819440000039

In [36]:
data2.dtypes

customer_id                 int64
disbursed_amount          float64
interest                  float64
market                     object
employment                 object
time_employed              object
householder                object
income                    float64
date_issued                object
target                      int64
loan_purpose               object
number_open_accounts      float64
date_last_payment          object
number_credit_lines_12    float64
dtype: object

In [37]:
#Print the number of discrete variables
print("Discrete Variables")
categoric_value=[c for c in data2.columns if data2[c].dtype=='O']
print(categoric_value)
print("Number of Discrete Variables are ",len(categoric_value))

Discrete Variables
['market', 'employment', 'time_employed', 'householder', 'date_issued', 'loan_purpose', 'date_last_payment']
Number of Discrete Variables are  7

In [38]:
#Display the unique values of two variables with discrete values
print("The unique values in market column are ",data2['householder'].unique())
print("The unique values in employment column are ",data2['loan_purpose'].unique())

The unique values in market column are  ['RENT' 'OWNER' 'MORTGAGE']
The unique values in employment column are  ['Debt consolidation' 'Car purchase' 'Other' 'Home improvements'
 'Moving home' 'Health' 'Holidays' 'Wedding']

In [39]:
#4.Question 4
data2['date_issued']=pd.to_datetime(data2['date_issued']) #change to date typedata
print(data2[['date_issued']].dtypes)

date_issued    datetime64[ns]
dtype: object

In [40]:
#Getting the count of the month
data2['month_issued']=data2['date_issued'].dt.month
data2['month_issued']

0        6
1        5
2       10
3        8
4        7
        ..
9995     1
9996     3
9997     4
9998    11
9999     1
Name: month_issued, Length: 10000, dtype: int64

In [41]:
for x in range(10000):
    if data2['month_issued'][x]==1:
        data2['month_issued'][x]='Jan'
    elif data2['month_issued'][x]==2:
        data2['month_issued'][x]='Feb'
    elif data2['month_issued'][x]==3:
        data2['month_issued'][x]='Mar'
    elif data2['month_issued'][x]==4:
        data2['month_issued'][x]='Apr'
    elif data2['month_issued'][x]==5:
        data2['month_issued'][x]='May'
    elif data2['month_issued'][x]==6:
        data2['month_issued'][x]='Jun'
    elif data2['month_issued'][x]==7:
        data2['month_issued'][x]='Jul'
    elif data2['month_issued'][x]==8:
        data2['month_issued'][x]='Aug'
    elif data2['month_issued'][x]==9:
        data2['month_issued'][x]='Sep'
    elif data2['month_issued'][x]==10:
        data2['month_issued'][x]='Oct'
    elif data2['month_issued'][x]==11:
        data2['month_issued'][x]='Nov'
    elif data2['month_issued'][x]==12:
        data2['month_issued'][x]='Dec'

<ipython-input-41-1bdbbf796a68>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Jun'
C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-41-1bdbbf796a68>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='May'
<ipython-input-41-1bdbbf796a68>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Oct'
<ipython-input-41-1bdbbf796a68>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Aug'
<ipython-input-41-1bdbbf796a68>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Jul'
<ipython-input-41-1bdbbf796a68>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Sep'
<ipython-input-41-1bdbbf796a68>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Mar'
<ipython-input-41-1bdbbf796a68>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Feb'
<ipython-input-41-1bdbbf796a68>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Dec'
<ipython-input-41-1bdbbf796a68>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Nov'
<ipython-input-41-1bdbbf796a68>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Apr'
<ipython-input-41-1bdbbf796a68>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['month_issued'][x]='Jan'

In [16]:
#Converting into dictionary
data2['month_issued']
data2['month_issued'].value_counts()
month_issuesd_dict=data2['month_issued'].value_counts().to_dict()
month_issuesd_dict

{'Oct': 1277,
 'Jul': 1066,
 'Nov': 1017,
 'Dec': 882,
 'Aug': 852,
 'Apr': 816,
 'May': 749,
 'Sep': 734,
 'Jan': 700,
 'Jun': 700,
 'Mar': 623,
 'Feb': 584}

In [18]:
#4. Display the Month with most of loans issued date
# function to return key for any value in a dictionary

def get_key(val):
    for key, value in month_issuesd_dict.items():
         if val == value:
             return key
    return "key doesn't exist"
max_issues=max(data2['month_issued'].value_counts())
print("Month in which maximum number of loan issued is",get_key(max_issues))
print(" Number of issues loan on that month is ",max_issues)

Month in which maximum number of loan issued is Oct
 Number of issues loan on that month is  1277

In [20]:
#Qustion number 5
data2['employment'].value_counts()

Civil Servant         884
Nurse                 880
Bus driver            874
Other                 863
Teacher               861
Statistician          852
Accountant            852
Secretary             846
Dentist               844
Taxi driver           825
Software developer    808
Name: employment, dtype: int64

In [21]:
data_emp=data2['employment'].value_counts()

In [22]:
#5. Display the count of ‘Teacher’ who are ‘Owners
#Converting into dictionary
data_emp_dict=data_emp.to_dict()
data_emp_dict
print("Number of owners who have Teacher profesion is ",data_emp_dict['Teacher'])

Number of owners who have Teacher profesion is  861

In [24]:
#6. Display the ‘Employment’ of customers who mostly ‘Rent'
type(data2['employment'])

pandas.core.series.Series

In [26]:
empl=data2['employment'].to_list()
type(data2.shape)

tuple

In [29]:
on_rent=[]
for i in range(data2.shape[0]):
    if data2['householder'][i]=='RENT':
        on_rent.append(empl[i])

In [30]:
def CountFrequency(my_list): 
      
   # Creating an empty dictionary  
   count_on_rent = {} 
   for i in on_rent: 
    count_on_rent[i] = count_on_rent.get(i, 0) + 1
   return count_on_rent 
  
print(CountFrequency(on_rent))

{'Teacher': 371, 'Statistician': 342, 'Other': 353, 'Bus driver': 360, 'Secretary': 355, 'Software developer': 315, 'Nurse': 358, 'Accountant': 322, 'Civil Servant': 371, 'Dentist': 355, 'Taxi driver': 316, nan: 237}